.reset-btn {
    color: white;
    background: rgba(255, 0, 0, 0.712);
    width: 100px; 
    height: 40px;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-weight: 600;
    font-size: 1rem;
}

.reset-btn:hover, .settings-btn:hover {
    opacity: 0.5; 
    transition: 1s all ease;
}

.manual-address-btn { 
    color: white;
    background: blue; 
    width: 200px; 
    height: 40px;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: 600; 
    font-size: 1rem;
}

.calculate-btn { 
    color: white;
    background: green; 
    width: 400px; 
    height: 40px;
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-weight: 600; 
    font-size: 1rem;
}

.info-page { 
    padding: 30px; 
    display: grid;
    place-items: center; 
}

.title { 
    text-transform: uppercase; 
    font-weight: 600; 
    letter-spacing: 2px;
    font-size: 24px;
}

.reset { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%
}

.settings-btn { 
    color: black;
    background: lightgray(255, 0, 0, 0.712);
    width: 100px; 
    height: 40px;
    border: none; 
    border-radius: 10px;
    cursor: pointer; 
    font-weight: 600;
    font-size: 1rem;
}

.patient-location-section { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.hospital-selection-section { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.helicopter-site-section { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.patient-loading-time-section { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.manual-address-input { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
}

.calculate-section { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%;
}

input {
    border: none; 
    padding-top: 10px; 
    outline: none; 
}

label { 
    color: rgba(255, 0, 0, 0.712);
    font-weight: 600; 
    text-transform: capitalize; 
}

hr {
     width: 600px; 
    
}

.drop-down { 
    display: flex; 
    align-items: left; 
    justify-content: space-between; 
}

img { 
    height: 300px
}
