body {
  --background: #e6ecf0;
  --icons-color: #32424d;
}

.app {
  display: flex;
  /* display: flex;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; */
  height: 100vh;
}

 .input-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   flex: 0.7; /* might need to change this */
    /* flex: 0.4;
    border-right: 1px solid var(--background);
    min-width: fit-content; */
  }