body {
  --background: #e6ecf0;
  --icons-color: #32424d;
}

.app {
  display: flex;
  /* display: flex;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; */
  height: 100vh;
}
