body {
  --background: #e6ecf0;
  --icons-color: #32424d;
}

.app {
  display: flex;
  justify-items: space-between;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}

 .input-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
   flex: 0.7;
    /* flex: 0.4;
    border-right: 1px solid var(--background);
    min-width: fit-content; */
  }

  /* .map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  } */