.modal {
    position: fixed;
    top: 0;
    height: 800px;
    width: 400px;
    border-right: 1px solid lightgray;
    margin: 0 auto !important;
    background-color: white;
}

.MuiSvgIcon-root {
    cursor: pointer;
    padding-top: 15px;
    padding-left: 15px;
}

.modal-icons {
    display: grid;
    place-items: center;
    padding-top: 100px;
}

.modal-icons > span > div > .MuiSvgIcon-root {
    margin: 10px;
}

/* span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
} */

.icon-title {
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin-right: 145px;
}

.icon-title-1 {
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin-right: 12px;
}

.icon-title-1 > h3 {
    font-size: 18px;
}


.icon-title-2 {
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin-right: 130px;
}

span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span > div > h3 {
    margin-top: 10px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.74);
}

.icon-title:hover > h3, .icon-title:hover > .MuiSvgIcon-root ,span:hover >.MuiSvgIcon-root {
    /* transform: scale(1.1); */
    transition: color 100ms ease-out;
    color: rgba(255, 0, 0, 0.603) !important;
    cursor: pointer;
    transition: 1s all ease;
}

.icon-title-1:hover > h3, .icon-title-1:hover > .MuiSvgIcon-root ,span:hover >.MuiSvgIcon-root {
    /* transform: scale(1.1); */
    transition: color 100ms ease-out;
    color: rgba(255, 0, 0, 0.603) !important;
    cursor: pointer;
    transition: 1s all ease;
}

.icon-title-2:hover > h3, .icon-title-2:hover > .MuiSvgIcon-root ,span:hover >.MuiSvgIcon-root {
    /* transform: scale(1.1); */
    transition: color 100ms ease-out;
    color: rgba(255, 0, 0, 0.603) !important;
    cursor: pointer;
    transition: 1s all ease;
}


.icon-0 {
    font-size: 15px !important;
    margin-bottom: 4px;
}

.icon-1 {
    font-size: 32px !important;
}

.icon-2 {
    font-size: 36px !important;
}

.icon-1, .icon-2, .icon-3 {
    color: lightgray !important;
}

.sidebar-top {
    display: flex;
    align-items: center;
    justify-content: left;
}

.sidebar-top > .MuiSvgIcon-root {
    padding: 40px;
    color: lightgray !important;
    margin-top: 7px;
}

.sidebar-top > h2 {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.822);
}