.container {
    padding: 0px 40px;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.container > form > .sidebar-top {
    display: flex;
    margin-right: 140px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

/* .sidebar-top {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.form {
    display: flex;
}

.inputs {
    padding-right: 20px;
    margin-right: 20px;
}

.inputs > input {
    margin-right: 20px;
    margin-bottom: 20px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.edit > button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.edit > button:hover {
    opacity: 0.5;
    transition: 1s all ease;
}

.edit > button {
    margin: 10px;
}

.submit-btn {
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}