.results {
    flex: 0.3;
  }
  
  .results__input {
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .results__input > input {
    border: none;
    background-color: var(--background);
  }
  
  .results__resultsContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .results__resultsContainer > h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .results__helicopterResultsContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }
  
  .results__helicopterResultsContainer > h2 {
    font-size: 20px;
    font-weight: 800;
  }

  .results__ambulanceResultsContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #fdfdfd;
    border-radius: 20px;
  }
  
  .results__ambulanceResultsContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }