.locationContainer {
    width: 700px;
    height: 600px;
    z-index: -1;
}

.mapContainer {
    width: 700px;
    height: 500px;
    padding: 5px
}

/* .manual-address-btn {
    color: white;
    background: rgba(255, 0, 0, 0.712);
    width: 260px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}

.manual-address-input {
    display: grid;
    place-items: center;
    padding-top: 15px;
}

.manual-address-btn:hover {
    opacity: 0.5;
    transition: 1s all ease;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 12px;
    border: 2px solid grey;
    border-radius: 3px;
} */