.locationContainer {
    padding: 20px 50px;
    width: 750px;
    height: 500px;
}

/* mobile screen */
@media screen and (max-width: 376px) {
    .map{
        width: 100%;
        display: grid !important;
        place-items: center !important;
    }
    .locationContainer {
        width: 340px;
        height: 300px;
    }
}

/* 414px */
@media screen and (min-width: 414px) {
    .map{
        width: 100%;
        display: grid !important;
        place-items: center !important;
    }
    .locationContainer {
        width: 500px;
        height: 300px;
    }
}